Models/SuperPixel_Transformer/config.py
git rm --cached config.py

*.png
*.xml
*.jpg
/Models/my_logs
/Models/__pycache__
*.mat
/misc/IN_validation_sort.py
/misc/scratch.py
/misc/Validation_patching.py
